Body {
  background-color: #e28bc2;
} h1 {color: #5216f6;} p {color: #070110;} 
.box {
    border: 5px solid rgb(0, 255, 34);
    background-color: aqua;
    padding: 10px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    margin-bottom: 70px; 
    width: 290px;
    height: 300px;
}
p {
    margin-top: 25px;
    margin-left: 40px;
}
.box img {
    width: 100%;
    height: 100%;
}

}
.small-image {
    width: 500px;
    height: auto;
    display: block;
    margin: 50px;
}
